<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-github"></i></a>
        </div>
    </section>
    
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i><b>SPORT WARE</b></h6>
                    <p>
                       sports_ware.com is a one stop destination for your sports items needs.
                        We give you the opportunity to give your wardrobe a makeover with the latest collections from our top brand
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#!" class="text-reset">FOOTBALL</a></p>
                    <p><a href="#!" class="text-reset">WORKOUT EQUIPMENT</a></p>
                    <p><a href="#!" class="text-reset">SPOTS DRESS</a></p>
                    <p><a href="#!" class="text-reset">ALL ITEMS</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p><a href="https://youtu.be/mAAbqIbTsG8?si=I3kRVAF2suTaNO6q" class="text-reset">YOUTUBE</a></p>
                    <p><a href="https://www.decathlon.in/" class="text-reset">DECATHLON</a></p>
                    <p><a href="https://www.adidas.co.in/?cm_mmc=AdieSEM_Google-_-adidas-Brand-B-Exact-RLSA-SA-_-Search-_--_-dv:eCom-_-cn:adidas-Brand-B-Exact-RLSA-SA-_-pc:Google&cm_mmc1=IN&cm_mmc2=PPC-Multiple--Multiple-Multiple-IN-EMEA-eCom-Paid_Search&gad_source=1&gclid=Cj0KCQjwwO20BhCJARIsAAnTIVTdy5RM_M8C7FZayTDxixNiSkjnlrAjwu0gThAD8s-vX45OsGyEM8QaAm8ZEALw_wcB" class="text-reset">ADIDAS</a></p>
                    <p><a href="https://www.alcissports.com/" class="text-reset">ALCIS</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"> Contact</h6>
                    <p><i class="fa fa-home></i> KUMARESH</p>
                    <p><i class="fa fa-envelone"></i> kumareshtfc@gmail.com</p>
                    <p><i class="fa fa-phone""></i>+ 91 72004 00406</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text center p-4">
        &copy; 2024 Copyright <a class="text-reset fw-bold" href="https://www.mzcet.in/default.php">sports</a>
    </div>
</footer>    


